html {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "josefin regular";
}

body {

    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}

h1{
    font-size: 5vh;
    font-family: "josefin bold";
}

h2{
    font-size:5vh;
    font-family: "josefin thin";

}


header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .90;
}

header .row {
    background: #141416;
    opacity: 0.95;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
}
.services{
    margin-top: 120px;
}


.services .button {
    margin-bottom: 30px;
}


.container-fluid{
   /* background-image: url("../images/background.jpg");*/
    background-image: url("../images/footer_lodyas.png");

    text-align: center;
    line-height: 50px;
    height: 100vh;
}

.top{
    margin-top: 20px;
    padding: 0;
    margin-bottom: 0;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 50px;
    background-color: #141416;
    opacity: 1;
}

footer .row{
    background-color: #141416;

}

.button{
    transition: all 800ms ease;
    opacity: 0.8;
}

.button:hover{

    opacity: 1;
    cursor: pointer ;
}

#map {
    height: 100vh;
}






@media (max-width: 340px) {
    .size{
        width: 70%;
        height: 70%;
    }
}






/*@media (max-width: 768px) {*/

    /*.services article h2 {*/
        /*color: black;*/
        /*font-size: 10px;*/
    /*}*/

/*}*/

/*@media (min-width: 769px) {*/

    /*.services article h2 {*/
        /*color: white;*/
    /*}*/

/*}*/



/* ------------QUIZ ----------*/
.quiz{
    margin-top: 120px;

}


@media (max-width: 340px) {
    .quiz{
        margin-top: 70px;

    }
}

#test_status{
    color: white;
    font-family: "josefin regular";

}

#timeleft{
    color: white;
    font-family: "josefin regular";
}

#test{
    color: white;
    font-family: "josefin regular";
}


button{
    transition: all 800ms ease;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    font-family: "josefin bold";
    opacity: 0.6;
}

button:hover{
    opacity: 0.6;
    border: 1px black solid;
    color: white;
    background-color: black;

}

label{

    font-family: "josefin regular";
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;

}


input[type="radio"] {

    background-color: transparent;
    border-radius: 20px;
    border: solid white 1px;
    cursor: pointer;
    height: 20px;
    margin-right: 15px;
    width: 20px;
    -webkit-appearance: none;
}

input[type="radio"]:checked {
    background-color: white;

}

#quizheight{
    height: 400px;

}



/* ----------- FORM -----------*/


.form{

    line-height:2;
    font-family: "josefin bold";

}

@media (max-width: 1024px) {
    .form{

        line-height:0;
    }
}

.formbox{
    transition: all 500ms ease;
    background: transparent;
    border-radius: 0px;
    color: white;

}

.formbox:hover{
    background: #141416;
    opacity: 0.5;
    color: white;
}



.formbutton{
    transition: all 500ms ease;
    background: transparent;
    color: white;
    border:none;
    border-radius: 0;
    font-family: "josefin regular";
    font-weight: normal;
}

.formbutton:hover{
    background: #141416;
    opacity: 0.95;
    color: white;

    border-radius:50px;
    font-weight: 900;
}


















/* CUSTOM FONTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-family: advent thin;
    src: url('../fonts/advent-pro.thin.ttf');
}

@font-face {
    font-family: advent bold;
    src: url('../fonts/advent-pro.bold.ttf');
}


@font-face {
    font-family: josefin thin;
    src: url('../fonts/josefin-sans.thin.ttf');
}

@font-face {
    font-family: josefin regular;
    src: url('../fonts/josefin-sans.regular.ttf');
}

@font-face {
    font-family: josefin bold;
    src: url('../fonts/josefin-sans.bold.ttf');
}



/*----------- MAP -------------*/

.gm-style .gm-style-iw{         /*tekt in kadertjes*/

    color:#141416;
    font-family: "josefin bold";

}

.home{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*------------ 404page --------*/

.error-template {
    padding: 40px 15px;
    text-align: center;
    font-family: "josefin regular";
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}




/*------------ INDEX --------*/



.type-wrap{
    margin-top: 150px;
    color: white;
    font-size: 8vh;
    font-family: "josefin bold";
}


.sticktext{
    font-family: josefin thin;
    font-size: 10vh;

}


.logo{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 5%;

}




.hover{
    transition: all 500ms ease;
    opacity:0.6;

}

.hover:hover{
    opacity:0.95;

}

/*------------ tabs--------*/


.tabs {

    float: none;
    list-style: none;
    padding: 0;
    margin: 100px auto;
}

.tabs li {
    display: block;

}


.labels{


}

.labels:after {
    content: '';
    display: table;
    clear: both;
}



.tabs label {
    display: inline-block;
    float: left;
    padding: 10px 20px;
    color: #FFFFFF;
    transition: all 500ms ease;
    font-size: 24px;
    font-weight: normal;
    background: transparent;
    cursor: pointer;

    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

}

.tabs label:hover {
    background: #ffffff;
    color:white ;
    background: #141416;
    opacity: 0.95;
    border-radius: 10px;
}


.formbutton{
    transition: all 500ms ease;
    background: transparent;
    color: white;
    border:none;
    border-radius: 0;
    font-family: "josefin regular";
    font-weight: normal;
}

.formbutton:hover{
    background: #141416;
    opacity: 0.95;
    color: white;

    border-radius:50px;
    font-weight: 900;
}


.tab-content {
    display: none;
    width: 100%;
    padding: 15px;

    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */


    background-color:transparent;
}


.tabs input[type=radio] {
    display:none;
}

[id^=tab]:checked ~ div[id^=tab-content] {
    display: block;
}

[id^=tab]:checked ~ [id^=label]  {
    background: #08C;
    color: white;
}




#relatedContent {
    display: block;
    clear: both;
    max-width: 800px;
    margin: 100px auto 0;
}

#relatedContent h3 {
    font-size: 30px;
    text-align: center;
    color: #FFF;
}

#relatedContent .item {
    max-width: 44%;
    padding: 3%;
    float: left;
    text-align: center;
}

#relatedContent .item a img {
    max-width: 100%;
}
.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
    color: #3498db;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}

@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs label span {
        display: inline-block;
    }
    .tabs {
        max-width: 750px;
        margin: 100px auto;
    }
}


.form-group{
    margin-top: 0;
    margin-bottom: 0;
}

.form-control{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    height:4vh;
    font-size: 2vh;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, .2);
}

.abonneer{
    transition: all 800ms ease;
    background: transparent;
    color: white;
    opacity: 0.4;
    border: 1px solid rgba(255, 255, 255, .2);
    font-family: "josefin regular";
}
.abonneer:hover{
    background: black;
    color: white;
    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "josefin bold";
}
